.featured-products{
    padding: 60px 20px;
    align-items: center;
}
.Product-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.add-product-form{
display: flex;
flex-direction: column;
gap:20px;
width: 90%;
padding: 25px;
max-width: 500px;
border-radius: 20px;
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
 background-color: #ffffff;
   margin: 30px auto;
}
.add-product-form input{
    width: 90%;
    padding:15px 12px ;
    border-radius: 8px;
      border: 1px solid #ccc;
      outline: none;
      font-size: 16px;
}
.add-product-form button{
    padding: 12px;
    border-radius: none;
  
    font-size: 14px;
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: orange;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}
.add-product-form button:hover{
    background-color: #a4c9f1;
}