
.cart{
    max-width: 1000px;
    margin:40px auto;
     justify-content: center;
     flex-direction: column;
   width: 90%;
}
.cart-item{
    display: flex;
    align-items: center;
    gap: 60px;
    width: 100%;
    
}
.cart-item-image{
    width: 700px;
    height: 200px;
    object-fit: contain;
    gap: 30px;
    padding: 10px;
}

.cart-item h3{
    flex:1;
}
.quantity-controls button{
    width: 35px;
    height: 35px;
 background-color: orange;
 border: none ;
 cursor: pointer;
 font-size: 17px;

}
.quantity-controls button:hover {
  background-color: #f27b7b;
  
}
.quantity-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px
}
.cart-remove button{
    background-color: orange;
 border: none ;
 cursor: pointer;
 border-radius: 12px;
 font-size: 17px;
 padding: 12px 12px
 
 
}
.cart-remove button:hover {
  background-color: #f27b7b;
  
}
.total-cart {
font-size: bold;

}